.header .right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px; /* 增加間距 */
  }
  
  /* 發文底部按鈕區 CSS */
  .post-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 5px 15px;
  }
  
  .left-actions img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
  
  .right-actions img {
    width: 24px;
    height: 24px;
  }